html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: rgba(169, 56, 4, 0.234);
}
h1,
h2 {
  font-family: "Playfair Display", serif;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
header {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  align-items: center;
  margin: 20px;
}

header h1 {
  position: absolute;
  bottom: 550px;
  left: 20px;
  color: white;
  padding: 10px 15px;
  margin: 0;
  font-size: 4.5rem;
  font-weight: lighter;
}

header p {
  font-size: 1.5rem;
  margin-top: 10px;
  padding-left: 5px;
  color: rgb(58, 58, 58);
  letter-spacing: 1.5px;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 5px;
  text-align: center;
}

.hero-vertical {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  width: 90%;
  margin: 0 auto 20px auto;
}

main {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.footer-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

h3,
h4 {
  font-weight: lighter;
}
.social-links {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 50px;
}
.social-links a {
  display: inline-block;
  width: 32px;
  height: 32px;
}
.contact-info h2 {
  text-align: center;
  width: 100%;
}
.project-card {
  margin-top: 20px;
  border: 1.5px solid white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.project-card h2 {
  margin-top: 0;
}

.description-card h3 {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  padding-left: 20px;
  font-weight: bold;
  margin: 0;
}
.description-card p {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  margin-bottom: 0;
}
.title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}
.project-links {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.project-links a {
  display: inline-block;
  width: 25px;
}
.contact-icon {
  display: none;
}
.about-card {
  background: transparent;
  box-shadow: none;
  padding: 0;
}

@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row;
    padding: 0px 20px 20px 20px;
    margin-top: 60px;
  }
  .footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 50%;
    width: 50%;
    box-sizing: border-box;
  }
  .footer-img {
    flex: 1 1 50%;
    width: 50%;
    object-fit: cover;
    object-position: center;
    height: auto;
    max-height: 400px;
  }
  .contact-info h2 {
    text-align: left;
  }
  .social-links {
    justify-content: flex-start;
  }
  .contact-icon {
    display: inline-block;
    width: 20px;
    vertical-align: middle;
    margin-right: 10px;
  }
  header {
    padding: 80px 40px 60px 40px;
    position: relative;
  }
  header h1 {
    position: absolute;
    top: 60px;
    right: 20px;
    color: white;
    text-align: right;
    margin: 0;
    z-index: 10;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  .about-card {
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 100px;
    position: relative;
    border: 1.5px solid white;
    background: transparent;
    border-radius: 5px;
  }
  .about-card h2 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: -40px;
    padding-top: 20px;
  }
  .hero-vertical {
    float: left;
    width: 300px;
    height: auto;
    margin-top: -140px;
    margin-left: -40px;
    margin-right: 30px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  h1 .break-mobile {
    display: none;
  }
  header .social-links {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    box-sizing: border-box;
    padding-right: 20px;
    margin-bottom: 30px;
  }
}
